---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-symlinks
      - id: check-yaml
      - id: end-of-file-fixer
        exclude: \.svg$
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        exclude: \.svg$

  - repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
    rev: 0.2.3
    hooks:
      - id: yamlfmt
        args: [--mapping, '2', --sequence, '4', --offset, '2']
